.Payments {
  width: 80%;
  margin: auto;
  text-align: center; }
  .Payments__category {
    display: flex; }
  .Payments__category, .Payments__price {
    position: relative; }
  .Payments .incorrect {
    top: -20px;
    left: 0;
    right: 0;
    pointer-events: none; }

.previous {
  position: relative;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  height: 250px; }
  .previous__title {
    margin-bottom: 10px; }
  .previous__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2; }
    .previous__list--category {
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .previous__list--price {
      width: 15%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .previous--help {
    cursor: help; }
  .previous__page {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }

.incorrect {
  position: absolute;
  bottom: 0;
  color: red;
  text-align: center; }

.input,
.button {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 2px solid lightgray;
  background-color: white;
  font-size: 16px;
  text-align: center;
  user-select: none;
  outline: 0; }

.input {
  margin-bottom: 30px; }
  .input--price {
    padding-right: 25px; }
  .input--price::-webkit-inner-spin-button, .input--price::-webkit-outer-spin-button {
    position: relative;
    left: 15px;
    opacity: 1; }
  .input:hover {
    border-color: #a3cff1; }
  .input:focus {
    border-color: #66afe9; }
  .input--incorrect {
    border-color: red; }
    .input--incorrect:hover, .input--incorrect:focus {
      border-color: red; }

.button {
  border-radius: 4px;
  color: black;
  cursor: pointer; }
  .button:disabled {
    cursor: not-allowed; }
  .button_size_s {
    width: 100px; }
  .button--prev {
    float: left; }
  .button--next {
    float: right; }
  .button--add {
    border: 2px solid #66afe9; }
    .button--add:hover {
      background-color: #66afe9;
      color: white; }
    .button--add:active {
      background-color: #477aa3;
      color: white; }
  .button--save {
    border: 2px solid green; }
    .button--save:hover {
      background-color: green;
      color: white; }
    .button--save:active {
      background-color: darkgreen;
      color: white; }
  .button--cancel {
    border: 2px solid red; }
    .button--cancel:hover {
      background-color: red;
      color: white; }
    .button--cancel:active {
      background-color: darkred;
      color: white; }

.CategoryList {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: white;
  z-index: 1;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; }
  .CategoryList div {
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .CategoryList div:last-child {
      border-bottom: 1px solid lightgray; }
    .CategoryList div:hover {
      background-color: #a3cff1; }

.input--wrapper {
  display: flex;
  width: 100%;
  padding: 0;
  border-radius: 4px; }
  .input--wrapper .input--category {
    height: 100%;
    border: none;
    border-radius: 4px; }
  .input--wrapper .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    border-left: 2px solid lightgray; }
  .input--wrapper:hover .arrow {
    border-left: 2px solid #a3cff1; }
  .input--wrapper:focus-within {
    border: 2px solid #66afe9; }
    .input--wrapper:focus-within .arrow {
      border-left: 2px solid #66afe9; }

.input--incorrect .arrow,
.input--incorrect:hover .arrow {
  border-left: 2px solid red; }

.input--incorrect:focus-within .arrow,
.input--incorrect:hover:focus-within .arrow {
  border-left: 2px solid #66afe9; }

.radio {
  height: 7px;
  width: 7px;
  border-radius: 7px;
  border: 0.4px solid white; }
  .radio__wrapper {
    width: 13px;
    height: 13px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 2px; }

@media screen and (max-width: 1024px) {
  .button:disabled {
    background-color: #e5e5e5; } }
