.payments{
  text-align: center;
}

.payments__category{
  border-radius: 4px;
}

.payments__category::-webkit-calendar-picker-indicator,
.payments__price::-webkit-inner-spin-button,
.payments__price::-webkit-outer-spin-button{
  opacity: 1;
}

.payments__category::-webkit-calendar-picker-indicator:hover{
  background-color: #a3cff1;
}

.payments__category,
.payments__price {
  display: block;
  width: 400px;
  height: 25px;
  margin: auto;
  padding: 5px;
  border: 2px solid #ccc;
  background-color: white;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}


.payments__category:hover,
.payments__price:hover{
  border-color: #a3cff1;
}

.payments__price:focus,
.payments__category:focus,
.payments__save {
  border-color: #66afe9;
  outline: 0;
}

.payments__save{
  width: 410px;
  height: 38px;
  margin: auto;
  background-color: white;
  color: black;
  border: 2px solid #66afe9;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.payments__save:hover{
  background-color: #66afe9;
  color:white;
}

.payments__views{
  margin: auto;
  margin-top: 50px;
  width: 410px;
  text-align: left;
}

.payments__views input{
  margin-right: 10px;
}

.payments__views li{
  display: inline;
}

.payments__views-category{
  width: 80%;
}
.payments__views-price{
  width: 15%;
}
