@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Category {
  margin: auto;
  width: 80%; }
  .Category:not(:last-child) {
    margin-bottom: 50px; }
  .Category table {
    width: 100%; }
    .Category table tr {
      line-height: 1.5; }
    .Category table td {
      font-size: 18px;
      vertical-align: middle; }
      .Category table td:nth-of-type(1) {
        text-align: left;
        width: 60%; }
      .Category table td:nth-of-type(2) {
        text-align: right;
        width: 35%; }
  .Category__add {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: black;
    border: 1px solid black;
    border-radius: 3px; }
    .Category__add-button {
      position: relative;
      width: 100%;
      height: 100%; }
      .Category__add-button:before, .Category__add-button:after {
        content: "";
        position: absolute;
        background-color: white;
        transition: transform 0.25s ease-out; }
      .Category__add-button:before {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px; }
      .Category__add-button:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px; }
    .Category__add:hover {
      background-color: #66afe9;
      cursor: pointer; }
      .Category__add:hover .Category__add-button:before, .Category__add:hover .Category__add-button:after {
        animation: rotating 2s linear infinite; }
    .Category__add:active {
      background-color: #477aa3; }
      .Category__add:active .Category__add-button:before, .Category__add:active .Category__add-button:after {
        animation: rotating 1s linear infinite; }
  .Category .edit,
  .Category .delete {
    background-color: white;
    border: none; }
    .Category .edit:hover,
    .Category .delete:hover {
      cursor: pointer; }
    .Category .edit:focus,
    .Category .delete:focus {
      outline: none; }
    .Category .edit svg,
    .Category .delete svg {
      height: 20px;
      width: 20px; }
  .Category .edit:hover {
    fill: #66afe9; }
  .Category .edit:active {
    fill: #477aa3; }
  .Category .delete:hover {
    fill: red; }
  .Category .delete:active {
    fill: darkred; }

.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5); }
  .fade--transparent {
    background-color: transparent; }

.form {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 95%;
  max-width: 500px;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .form__header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid lightgray; }
  .form__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    background-color: white; }
    .form__body input {
      margin: 0; }
  .form__footer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-top: 1px solid lightgray; }
    .form__footer .Payments__button {
      width: 100px; }

.choose {
  width: 5%;
  height: 40px;
  padding: 2px;
  margin-right: 5px;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer; }
  .choose__wrapper {
    display: flex;
    align-items: center;
    width: 100%; }
  .choose__color {
    width: 100%;
    height: 100%; }

.ColorPicker {
  position: absolute;
  left: 35px;
  padding: 10px;
  width: 270px;
  background-color: white;
  border: 2px solid black; }
  .ColorPicker .circle-picker {
    margin-bottom: 10px !important; }
  .ColorPicker .hue-picker {
    width: 100% !important; }

@media screen and (max-width: 320px) {
  .ColorPicker {
    width: 80%; }
    .ColorPicker .circle-picker {
      display: none !important; } }
